---
layout: default
title: Home
---
{%- comment -%} The homepage is the list of blocks in _data/home.yml, which Susan edits, reorders,
adds to and removes from in the editor. Each block type is a file in _includes/home/. {%- endcomment -%}
{% for block in site.data.home.sections %}
{% case block.type %}
{% when "hero" %}{% include home/hero.html block=block %}
{% when "call" %}{% include home/call.html block=block %}
{% when "services" %}{% include home/services.html block=block %}
{% when "posts" %}{% include home/posts.html block=block %}
{% when "testimonials" %}{% include home/testimonials.html block=block %}
{% when "about" %}{% include home/about.html block=block %}
{% when "contact" %}{% include home/contact.html block=block %}
{% when "cards" %}{% include home/cards.html block=block %}
{% when "text" %}{% include home/text.html block=block %}
{% endcase %}
{% endfor %}
